extends base
mixin socialMedia(icon, label, url)
    span.social-media-bar
        a(href=`${url}`, target='_blank')
            object.social-media-icon(data=`/static/Svg/${icon}.svg`, type='image/svg+xml')
            span.social-media-label=`Share us on ${label}`
block content
    div.post-container 
        h1.post-title-1=`${post.name}`
        img.post-image(src=`/static/img/${post.imageURL}`)
        span.all-posts 
            div.post-steps
                h2.post-title-2 Recepie
                each step, index in post.steps
                    h3.post-step=`Step ${index+1} ⇝ ${step}`
            div.post-ingredients
                h2.post-title-3 Ingredient
                each ingredient in post.ingredients
                    div.ingredient 
                        h4.ingredient-name=`${ingredient.name.split(' ').slice(0,3).join(' ')}` 
                        h4.ingredient-quantity=`${ingredient.quantity}`
                h2.post-title-4 Social Media 
                    +socialMedia('facebook', 'Facebook', 'https://www.facebook.com')
                    +socialMedia('instagram', 'Instagram', 'https://www.instagram.com')
                    +socialMedia('twitter', 'Twitter', 'https://www.twitter.com')
                    +socialMedia('youtube', 'Youtube', 'https://www.youtube.com')

                         

                    
